<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <style>
    h1 {
        text-align: center;
    }
    p {
      text-align: center;
      font-size: 16px;
    }
    div {
      text-align: center;
    }
  </style>
  <body>
    <img src="cid:unique@logo.png" width="100%"/>
    <p>We have received a request to reset your password for your Hospitality Guardian account. To ensure the security of your account, please follow the instructions below to reset your password.</p>
    <p>Click on the following link to access the password reset page:</p>
    <br/>
    <br/>
    <div><a href="{{link}}" target="_blank">HTTPS:Hospitalityguardian/profile/passwordreset</a></div>
    <br/>
    <br/>
    <p>Thank you for choosing our platform.</p>
    <p>Best regards, </p>
    <p>The Hospitality Guardian</p>
  </body>
</html>