<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <style>
    h1 {
        text-align: center;
    }
    p {
      text-align: center;
      font-size: 16px;
    }
    div {
      text-align: center;
    }
  </style>
  <body>
    <img src="cid:unique@logo.png" width="100%"/>
    <p>Good Morning {{name}},</p>
    <p>
      This is an automated email from the Hospitality Guardian letting you know that your
      {{licenseName}} is due to expire in {{xDays}} Days.Please begin the renewal process now to avoid your {{licenseName}} expiring.
      Once you have applied, please log in and update your new expiration details or contact your manager or business owner to update your new details
    </p>
    <p>Thank you for choosing our platform.</p>
    <p>Best regards, </p>
    <p>The Hospitality Guardian</p>
    </p>
  </body>
</html>